
body {
    background-color: rgb(252, 252, 196);
}
.body1 {
    background-color: rgb(162, 162, 255);
    display: flex;
    flex-direction: column;
}
h1 {
    display: flex;
    color: brown;
    font-size: 55px;
    font-style: oblique;
    height: 1vh;
}
h2 {
    color: blue;
    font: oblique;
}
h3 {
    align-items: center;
    font-size: larger;
    color: rgb(182, 37, 37);
    font: bold;
}

.body2 {
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(150, 150, 114);
   
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border: 5px solid black;
    background-color: brown;
}
#deck {
    width: 300px;
    height: 500px;
    background-color: rgb(162, 162, 255);
    overflow: auto;
    border: 2px solid black;
    margin-top: 20px;
}
#search-results {
    height: 200px; 
    overflow-y: auto; 
}
.main-content {
    display: flex;
    justify-content: space-between;
}

.body2 {
    width: 55%; 
}

.imageDisplay {
    width: 30%; 
    height: 500px; 
    border: 2px solid black;
    display: flex;
    justify-content: left;
    flex-direction: column;
  
}