body1 {
    background-color: rgb(162, 162, 255);
    display: flex;
    flex-direction: column;
}
h1 {
    display: flex;
    color: brown;
    font-size: 55px;
    font-style: oblique;
    height: 1vh;
}
h2 {
    color: blue;
    font: oblique;
}
h3 {
    align-items: center;
    font-size: larger;
    color: rgb(182, 37, 37);
    font: bold;
    height: 1vh;
}

body2 {
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: beige;
   
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border: 5px solid black;
    background-color: brown;
}